html{
    background-color: #000; 
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 0;
    line-height: 28px;
    letter-spacing: 0.1em;
      
}

.button-login{
    max-width: 100%;
    text-align: right;
    font-family: 'Rye', Arial, Helvetica, sans-serif;

}

.login{
    color: white;
    font-size: 20px;
}

.container{
    margin: 0;
    text-align: center;
}

.top-bar{
    text-align: left;
}

.button-gallery{
    background-color: #FFD700;
    padding: 1px;
    width: 200px;
    text-align: auto;
    border-radius: 10px;
    
}

.button-news{
    background-color: #FFD700;
    padding: 1px;
    width: 200px;
    text-align: auto;
    border-radius: 10px;
}


a{
    text-decoration: none;
    padding-left: 10px;
    color: #000;
    font-weight: bold;

}

.image{
    
    max-width: 250px;
         
}

h1{
    text-align: center;
    color: #FFD700;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    margin-top: 0;
    font-size: 45px;
    word-spacing: 0.1em;
    

}

h2{
    color: #FFD700;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    text-align: left;
    
}

p, ul{
    color: #ffff;
    text-align: left;
}

.button-base{
    text-align: center;
    background-color: #FFD700;
    border-radius: 10px;
    padding: 1px;
    width: 150px;
    max-width: 200px;
    margin-left: auto;
    margin-bottom: 10px;
   
}

.back{
    color: #000;
    
}

#image-base{
    width: 100%;
    height: 150px;
    opacity: 0.3;
    background-image: url('../imagens/Bandeira_de_Roraima.png');
    background-size: cover;
    background-position: center;
    
    
}
