html{
    background-color: #000; 
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 0;
    
}

.container{
    margin: 0;
    text-align: center;
}

.image{
    
    max-width: 250px;
    
        
}

h1{
    text-align: center;
    color: #FFD700;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    margin-top: 0;
    font-size: 70px;

}

h2{
    color: #FFD700;
    font-family: 'Rye', Arial, Helvetica, sans-serif;
    text-align: left;
}

p, ul{
    color: #ffff;
    text-align: justify;
}

#image-base{
   
    height: 200px;
    opacity: 0.3;
    background-image: url('./imagens/Bandeira_de_Roraima.png');
    background-size: cover;
    background-position: left;
}